*{
  margin: auto;
  font-family:sans-serif;
}

.main{
  font-size: 14px;
}

h2 {

}
footer{
  padding-top:50px;
}
.content{
  padding-top: 50px;
  width:100%;
  position: relative;
  text-align: center;

.title{
  width: 100%;
  padding-top: 100px;
  padding-right: 150px;

}

}
ol li{
    display: flex;
    padding-right: 40%;
    padding-top: 5%;

}
